.form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forgot-password-form .form-control {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    width: 100%;
  }
  
  .OTP-popup {
    position: fixed;
    top: 67%;
    left: 50%;
    width: 26.5%;
    transform: translate(-50%, -50%);
    padding: 20px;
    padding-top: 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }

  .close-button {
    position: absolute; 
    top: 5px;
    right: 10px;
    padding: 0 4px;
    color: #494949;
    background-color: #f9f9f9;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }

  .close-button:hover{
    background-color: #ebebeb;
  }