.compare-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.compare-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 2rem;
}

.compare-products h1 {
    font-size:xx-large;
}

.compare-container h2 {
    font-size:x-large;
}

.compare-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.compare-column select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.product-box {
    border: 1px solid #ccc;
    padding: 0.8rem;
    margin-top: 1rem;
    text-align: left;
    height: 60vh;
    border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
	margin-bottom: 20px;
}

.product-box button{
    display: block; 
    margin: 0 auto;
}

.product-box h4{
    text-align: center;
    margin-bottom: 0.8rem;
}

.clear-btn {
    margin-top: 1.2rem;
    padding: 0.8rem 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.price-diff-statement{
    margin-bottom: 0;
    margin-top: 1.5rem;
    font-size: larger;
}