.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 25px;
  }
  
  .inventory-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  
  .inventory-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 32vw;
    margin-bottom: 10px;
  }
  
  .inventory-item input {
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size:medium;
  }

  .inventory-item p {
    width: 30%;
    margin-bottom: 0;
  }

  .inventory-list button {
    margin: 10px 30%;
  }

  .no-product{
    margin-left: 9%;
    width: 100%;
  }